.blog {
  padding-left: 98px;
  padding-right: 98px;

  @media (max-width: $max-tablet-width) {
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (max-width: $max-mobile-width) {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 200px;
  }

  h2 {
    @include title ($font-34, $height-44, $bold, $black);
    font-family: "cormorantgaramond", "Arial", sans-serif;
    text-align: center;
  }

  a {
    line-height: 21px;
    font-weight: 500;
    margin: 0 auto;
    border-bottom: 1px solid $beige;
    width: 50px;
    text-align: center;
    display: block;
    margin-bottom: 60px;

    @media (max-width: $max-mobile-width) {
      width: 98px;
    }
  }

  h3 {
    @include title ($font-26, $height-34, $semi-bold, $trueblack);
    margin: 0;
    font-family: "cormorantgaramond", "Arial", sans-serif;
    margin-bottom: 50px;
  }
}

.article {
  display: flex;
  width: 570px;
  height: 300px;

  @media (max-width: $max-tablet-width) {
    width: 100%;
  }

  @media (max-width: $max-mobile-width) {
    flex-wrap: wrap;
    height: unset;
  }

  .article__picture-wrapper {
    order: 2;
    width: 50%;

    @media (max-width: $max-tablet-width) {
      width: 50%;
    }

    @media (max-width: $max-mobile-width) {
      width: 290px;
      height: 256px;
    }

    img {
      width: 100%;

      @media (max-width: $max-mobile-width) {
        height: 256px;
      }
    }
  }

  &--trends {
    position: relative;
    width: 570px;
    height: 630px;
    order: 2;

    @media (max-width: $max-tablet-width) {
      width: 100%;
      height: 300px;
    }

    .article__picture-wrapper {
      width: 100%;
      height: 100%;

      @media (max-width: $max-mobile-width) {
        height: 256px;
      }

      img {
        @media (max-width: $max-tablet-width) {
          height: 300px;
          width: 339px;
        }

        @media (max-width: $max-mobile-width) {
          height: 256px;
        }
      }
    }

    .article__description {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 315px;

      @media (max-width: $max-mobile-width) {
        position: unset;
      }
    }
  }

  &--blogcare {
    img {
      @media (max-width: $max-mobile-width) {
        width: 290px;
        height: 256px;
      }
    }
  }

  &--crystalspower {
    order: 3;
    margin-top: 30px;
  }

  .article__description {
    width: 50%;
    background-color: $light-beige;
    padding: 71px 61px;
    text-align: center;
    height: 300px;

    @media (max-width: $max-tablet-width) {
      width: 50%;
    }

    @media (max-width: $max-mobile-width) {
      width: 100%;
      order: 2;
      height: 256px;
      padding-top: 49px;
    }
  }
}

.blog__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog__article-wrapper {
  height: 100%;
  width: 570px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $max-tablet-width) {
    margin-bottom: 30px;
    width: 100%;
  }
}

time {
  @include text ($font-14, $height-18, $medium);
  color: $medium-grey;
  margin-bottom: 25px;
}
