.blog {
  padding-left: 98px;
  padding-right: 98px;
  padding-top: 70px;
  padding-bottom: 60px;

  @media (max-width: $max-tablet-width) {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 37px;
    padding-bottom: 35px;
  }

  @media (max-width: $max-mobile-width) {
    padding-top: 18px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
  }

  h2 {
    @include title ($font-34, $height-44, $bold, $black);
    margin: 0;
    font-family: "cormorantgaramond", "Arial", sans-serif;
    text-align: center;
  }

  a {
    line-height: 21px;
    font-weight: 500;
    margin: 0 auto;
    border-bottom: 1px solid $beige;
    width: 50px;
    text-align: center;
    display: block;
    margin-bottom: 55px;
    margin-top: 5px;

    @media (max-width: $max-tablet-width) {
      width: 70px;
      margin-top: 20px;
      margin-bottom: 63px;
    }

    @media (max-width: $max-mobile-width) {
      width: 72px;
      margin-bottom: 53px;
    }
  }

  h3 {
    @include title ($font-26, $height-34, $semi-bold, $trueblack);
    margin: 0;
    font-family: "cormorantgaramond", "Arial", sans-serif;
    margin-bottom: 50px;
  }
}

.article {
  display: flex;
  width: 570px;
  height: 300px;

  @media (max-width: $max-tablet-width) {
    width: 100%;
    margin-bottom: 50px;
  }

  @media (max-width: $max-mobile-width) {
    flex-wrap: wrap;
    height: unset;
    margin-bottom: 40px;
  }
}

.article--blogcare {
  background-color: $light-beige;
  background-image: url("../img/blog-care-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center left;
  background-size: 50%;
  margin-bottom: 30px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/blog-care-desktop@2x.jpg");
    background-size: 50%;
  }

  @media (max-width: $max-tablet-width) {
    background-image: url("../img/blog-care-tablet.jpg");
    margin-bottom: 50px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/blog-care-tablet@2x.jpg");
    }
  }

  @media (max-width: $max-mobile-width) {
    background-image: url("../img/blog-care-mobile.jpg");
    background-position: center top;
    background-size: 100%;
    margin-bottom: 40px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/blog-care-mobile@2x.jpg");
    }
  }

  .article__description {
    margin-left: auto;

    @media (max-width: $max-mobile-width) {
      margin-top: 256px;
    }
  }
}

.article--crystalspower {
  background-color: $light-beige;
  background-image: url("../img/blog-power-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center right;
  background-size: 50%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/blog-power-desktop@2x.jpg");
    background-size: 50%;
  }

  @media (max-width: $max-tablet-width) {
    background-image: url("../img/blog-power-tablet.png");
    margin-bottom: 50px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/blog-power-tablet@2x.png");
    }
  }

  @media (max-width: $max-mobile-width) {
    background-image: url("../img/blog-power-mobile.png");
    background-position: center top;
    background-size: 100%;
    margin-bottom: 40px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/blog-power-mobile@2x.png");
    }
  }

  .article__description {
    margin-right: auto;

    @media (max-width: $max-mobile-width) {
      margin-top: 256px;
    }
  }

  h3 {
    @media (max-width: $max-tablet-width) {
      padding-left: 50px;
      padding-right: 50px;
    }

    @media (max-width: $max-mobile-width) {
      padding-left: 0;
      padding-right: 0;
    }
  }
}

.article--trends {
  background-color: $light-beige;
  background-image: url("../img/blog-trends-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  position: relative;
  width: 570px;
  height: 630px;
  order: 2;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/blog-trends-desktop@2x.jpg");
    background-size: cover;
  }

  @media (max-width: $max-tablet-width) {
    background-image: url("../img/blog-trends-tablet.png");
    background-position: center left;
    background-size: 50%;
    height: 300px;
    margin-bottom: 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/blog-trends-tablet@2x.png");
    }
  }

  @media (max-width: $max-mobile-width) {
    background-image: url("../img/blog-trends-mobile.png");
    background-size: 100%;
    height: unset;
    background-position: center top;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/blog-trends-mobile@2x.png");
    }
  }

  @media (max-width: $max-tablet-width) {
    width: 100%;
  }

  .article__description {
    height: 315px;
    padding-top: 90px;
    margin-top: auto;
    margin-left: auto;

    @media (max-width: $max-tablet-width) {
      height: 300px;
      padding: 81px 61px 65px;
    }

    @media (max-width: $max-mobile-width) {
      padding-top: 59px;
      position: unset;
      margin-top: 256px;
      height: 256px;
    }
  }
}

.article__description {
  width: 50%;
  background-color: $light-beige;
  padding: 65px 61px;
  text-align: center;
  height: 300px;

  @media (max-width: $max-tablet-width) {
    width: 50%;
  }

  @media (max-width: $max-mobile-width) {
    width: 100%;
    order: 2;
    height: 256px;
    padding-top: 42px;
  }

  h3 {
    margin-bottom: 33px;
    margin-top: 10px;
  }

  a {
    width: 100%;
    display: inline;
  }
}

.blog__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.blog__article-wrapper {
  height: 100%;
  width: 570px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $max-tablet-width) {
    //margin-bottom: 30px;
    width: 100%;
  }
}

time {
  @include text ($font-14, $height-18, $medium);
  color: $medium-grey;
  //margin-bottom: 35px;
}
