.blog {
  padding: 70px 98px 60px;

  @media (max-width: $max-tablet-width) {
    padding: 37px 45px 35px;
  }

  @media (max-width: $max-mobile-width) {
    padding: 18px 15px 30px;
  }

  h2 {
    @include title ($font-34, $height-44, $bold, $black);
    margin: 0;
    font-family: "cormorantgaramond", "Arial", sans-serif;
    text-align: center;
  }

  a {
    line-height: 21px;
    font-weight: 500;
    margin: 0 auto;
    border-bottom: 1px solid $beige;
    width: 50px;
    text-align: center;
    display: block;
    margin-bottom: 55px;
    margin-top: 5px;

    @media (max-width: $max-tablet-width) {
      width: 70px;
      margin-top: 20px;
      margin-bottom: 63px;
    }

    @media (max-width: $max-mobile-width) {
      width: 72px;
      margin-bottom: 53px;
    }
  }

  h3 {
    @include title ($font-26, $height-34, $semi-bold, $trueblack);
    margin: 0;
    font-family: "cormorantgaramond", "Arial", sans-serif;
    margin-bottom: 50px;
  }
}

.blog__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: 769px) and (max-width: 1365px) {
    justify-content: center;
  }
}

.blog__article-wrapper {
  height: 100%;
  width: 570px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $max-tablet-width) {
    width: 100%;
  }
}
