.card {
  border-top: 1px solid $light-grey;

  @media (max-width: $max-mobile-width) {
    border-top: none;
  }
}

.card__content {
  display: flex;
  padding: 80px 98px 60px;

  @media (max-width: $max-tablet-width) {
    justify-content: space-between;
    padding: 29px 45px 60px;
  }

  @media (max-width: $max-mobile-width) {
    flex-wrap: wrap;
    padding: 0 15px 27px;
  }

  button {
    margin-bottom: 16px;

    @media (max-width: $max-tablet-width) {
      margin-bottom: 14px;
    }

    @media (max-width: $max-mobile-width) {
      margin-bottom: 11px;
    }
  }
}

.card__photo {
  display: flex;
  flex-flow: wrap-reverse;
  flex-direction: column-reverse;
  align-content: space-between;
  height: 435px;
  width: 600px;
  justify-content: space-between;

  @media (max-width: $max-tablet-width) {
    flex-wrap: wrap;
    flex-direction: unset;
    height: 429px;
    width: 319px;
  }

  @media (max-width: $max-mobile-width) {
    height: 260px;
    width: 100%;
    margin-bottom: 50px;
  }
}

.card__description {
  width: 370px;
  display: flex;
  flex-direction: column;
  margin-left: 100px;

  @media (max-width: $max-tablet-width) {
    margin-left: 0;
    width: 319px;
  }

  h2 {
    @include title ($font-34, $height-44, $bold, $trueblack);
    margin: 0;
    margin-top: -10px;
    margin-bottom: 10px;
    font-family: "cormorantgaramond", "Arial", sans-serif;
  }

  span {
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 22px;

    @media (max-width: $max-mobile-width) {
      margin-bottom: 13px;
    }
  }

  p {
    line-height: 21px;
    color: $medium-grey;
  }

  .card__description-info {
    margin-left: 35px;
    color: $black;
    font-size: 16px;
    line-height: 21px;

    @media (max-width: $max-mobile-width) {
      margin-left: 40px;
    }
  }

  td {
    border-bottom: 1px solid $light-grey;
    padding-top: 12px;
    padding-bottom: 8px;
    font-size: 14px;
    line-height: 18px;
  }

  td:nth-child(2n) {
    text-align: right;
  }

  table {
    margin-bottom: 50px;

    @media (max-width: $max-mobile-width) {
      margin-bottom: 39px;
    }
  }

  .card__description-links {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;

    @media (max-width: $max-mobile-width) {
      padding-left: 7px;
      padding-right: 8px;
    }
  }

  a {
    @include text ($font-14, $height-18, $medium);
    color: $medium-grey;
    position: relative;

    @media (max-width: $max-tablet-width) {
      @include text ($font-12, $height-16, $medium);
    }
  }
}

.card__description-links {
  a {
    &:not(:last-child) {
      &::after {
        content: "";
        display: block;
        position: absolute;
        height: 20px;
        width: 1px;
        background-color: $light-grey;
        top: 0;
        right: -15px;
      }
    }

    @media (max-width: $max-mobile-width) {
      width: 58px;
      text-align: center;
    }
  }
}

.card__photo-box {
  &--main {
    height: 435px;

    @media (max-width: $max-tablet-width) {
      margin-left: 0;
      height: 286px;
      width: 319px;
    }

    img {
      width: 470px;
      height: 435px;

      @media (max-width: $max-tablet-width) {
        height: 286px;
        width: 319px;
      }

      @media (max-width: $max-mobile-width) {
        height: 260px;
        width: 290px;
      }
    }
  }

  &--extra {
    height: 125px;

    @media (max-width: $max-tablet-width) {
      height: 129px;
      width: 97px;
    }

    @media (max-width: $max-mobile-width) {
      display: none;
    }
  }
}
