.catalog-intro {
  background-color: $beige;
  background-image: url("../img/intro-catalog-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  padding-top: 94px;
  padding-bottom: 64px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/intro-catalog-desktop@2x.jpg");
    background-size: cover;
  }

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    background-image: url("../img/intro-catalog-tablet.jpg");
    padding-top: 93px;
    padding-bottom: 66px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/intro-catalog-tablet@2x.jpg");
    }
  }

  @media (max-width: $max-mobile-width) {
    background-image: url("../img/intro-catalog-mobile.jpg");
    padding-top: 80px;
    padding-bottom: 59px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/intro-catalog-mobile@2x.jpg");
    }
  }

  h1,
  p {
    margin: 0;
    color: $white;
    text-align: center;
    font-family: "cormorantgaramond", "Arial", sans-serif;
  }

  h1 {
    @include title ($font-34, $height-44, $bold, $white);
    padding-right: 5px;
  }

  p {
    @include text ($font-22, $height-29, $regular);
    font-style: italic;

    @media (max-width: $max-mobile-width) {
      line-height: 26px;
    }
  }
}
