.catalog__content {
  display: flex;
  padding: 79px 98px 15px;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: 769px) and (max-width: 1365px) {
    padding-left: 7%;
    padding-right: 7%;
  }

  @media (max-width: $max-tablet-width) {
    flex-wrap: wrap;
    padding: 49px 0 73px;
  }

  @media (max-width: $max-mobile-width) {
    padding-top: 40px;
    padding-bottom: 10px;
  }
}

.catalog__items-container {
  display: flex;
  flex-wrap: wrap;
  width: 870px;
  justify-content: space-between;

  @media (min-width: 769px) and (max-width: 1365px) {
    width: 64%;
  }

  @media (max-width: $max-tablet-width) {
    width: 100%;
    margin-top: 50px;
    padding-left: 45px;
    padding-right: 45px;
  }

  @media (max-width: $max-mobile-width) {
    padding-left: 15px;
    padding-right: 15px;
    justify-content: space-between;
    margin-top: 40px;
  }

  a {
    margin-bottom: 33px;

    @media (min-width: 769px) and (max-width: 1365px) {
      width: 31%;
    }

    @media (max-width: $min-tablet-width) {
      margin-bottom: 33px;
    }

    @media (max-width: $max-mobile-width) {
      margin-bottom: 25px;
      width: 50%;
    }
  }

  figure {
    margin: 0;

    @media (min-width: 769px) and (max-width: 1365px) {
      width: 100%;
    }

    @media (max-width: $min-tablet-width) {
      width: 206px;
    }

    @media (max-width: $max-mobile-width) {
      width: 130px;
      margin: 0 auto;
    }
  }

  img {
    @media (min-width: 769px) and (max-width: 1365px) {
      width: 100%;
    }

    @media (max-width: $min-tablet-width) {
      width: 100%;
      height: 208px;
    }

    @media (max-width: $max-mobile-width) {
      width: 100%;
      height: 136px;
    }
  }

  figcaption {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 21px;
    font-weight: 500;
    margin-top: 15px;

    @media (max-width: $max-tablet-width) {
      margin-top: 15px;
    }

    @media (max-width: $max-mobile-width) {
      margin-top: 8px;
    }

    span {
      width: 100%;
      margin-top: 5px;
    }
  }
}

.catalog__filter-btn {
  display: none;
  width: 100%;
  padding: 22px 0 23px;
  margin-top: 35px;
  margin-left: 45px;
  margin-right: 45px;

  @media (max-width: $max-tablet-width) {
    display: block;
    width: 100%;
    margin-top: 0;
  }

  @media (max-width: $max-mobile-width) {
    margin-left: 15px;
    margin-right: 15px;
  }
}

.catalog__pagination {
  width: 100%;
  display: flex;
  padding: 18px 98px 74px 398px;
  border-top: 1px solid $light-grey;
  justify-content: space-between;

  @media (min-width: 769px) and (max-width: 1365px) {
    padding-left: 29%;
    padding-right: 7%;
  }

  @media (max-width: $max-tablet-width) {
    padding: 35px 45px 74px;
  }

  @media (max-width: $max-mobile-width) {
    justify-content: center;
    padding-top: 4px;
    padding-bottom: 63px;
  }

  a {
    padding-left: 5px;
    padding-right: 5px;
    color: $medium-grey;

    @media (max-width: $max-tablet-width) {
      padding-left: 5px;
      padding-right: 5px;
    }

    @media (max-width: $max-mobile-width) {
      padding-left: 10px;
      padding-right: 10px;
    }

    &:first-child {
      color: $black;
    }
  }

  button {
    padding: 0;
    background-color: transparent;
    color: $black;
    border: none;

    &:hover {
      border: none;
      opacity: 0.7;
    }

    @media (max-width: $max-mobile-width) {
      display: none;
    }
  }
}

.catalog__pagination-pages {
  width: 100%;
  padding-left: 100px;
  padding-right: 128px;
  text-align: center;

  @media (max-width: $max-mobile-width) {
    padding-right: 0;
    padding-left: 0;
  }
}
