.email-form {
  width: 100%;
  border-bottom: 1px solid $white;
  display: flex;
  justify-content: space-between;
  align-self: flex-end;
  padding-bottom: 15px;

  @media (max-width: $max-tablet-width) {
    padding-bottom: 6px;
    width: 560px;
  }

  @media (max-width: $max-mobile-width) {
    padding-bottom: 8px;
    width: 100%;
  }

  button {
    background-color: transparent;
    padding: 0;
    border: none;

    @media (max-width: $max-tablet-width) {
      font-size: 16px;
      line-height: 21px;
    }

    &:hover,
    &:active,
    &:focus {
      color: $white;
      opacity: 0.7;
      border: none;
    }
  }

  svg {
    transform: rotate(180deg);

    @media (max-width: $max-tablet-width) {
      margin-left: 10px;
    }
  }
}
