.faq {
  padding: 120px 198px 125px;

  @media (max-width: $max-tablet-width) {
    padding: 0 45px;
    margin-top: 80px;
  }

  @media (max-width: $max-mobile-width) {
    padding: 0 15px;
    margin-top: 80px;
  }

  h2 {
    @include title ($font-34, $height-44, $bold, $trueblack);
    margin: 0;
    font-family: "cormorantgaramond", "Arial", sans-serif;
    text-align: center;
    margin-bottom: 50px;
    letter-spacing: 1.2px;
  }

  button {
    @include text ($font-18, $height-23, $medium);
    width: 100%;
    padding: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    color: $black;

    &:hover,
    &:active {
      border: none;
    }

    @media (max-width: $max-mobile-width) {
      font-size: 16px;
      line-height: 22px;
      text-align: left;
      align-items: baseline;
    }
  }

  svg {
    &:hover,
    &:active {
      opacity: 0.3;
    }
  }
}

.faq__accordion-item {
  padding: 42px 41px 43px;

  &--active {
    .faq__accordion-item-content {
      display: flex;
    }

    svg {
      transform: rotate(180deg);
    }
  }

  @media (max-width: $max-tablet-width) {
    padding: 50px 50px;
  }

  @media (max-width: $max-mobile-width) {
    padding: 22px 25px;
  }

  .faq__accordion-item-svg {
    width: 15px;
    height: 8px;

    @media (max-width: $max-tablet-width) {
      width: 23px;
      height: 12px;
    }

    @media (max-width: $max-mobile-width) {
      min-width: 20px;
      height: 10px;
    }
  }
}

.faq__accordion {
  border: 1px solid $beige;
}

.faq__accordion-item:not(:last-child) {
  border-bottom: 1px solid $beige;
}

.faq__accordion-item-content {
  margin-top: 9px;
  width: 527px;
  padding-left: 12px;
  line-height: 21px;
  flex-wrap: wrap;
  flex-direction: column;
  display: none;

  &--show {
    display: flex;
  }

  @media (max-width: $max-tablet-width) {
    padding-left: 0;
  }

  @media (max-width: $max-mobile-width) {
    width: 100%;
  }
}

.faq__accordion-item-trigger {
  padding: 0;
}
