.gallery {
  padding: 65px 98px 120px;

  @media (max-width: $max-tablet-width) {
    margin-top: 84px;
    padding: 0 45px 80px;
  }

  @media (max-width: $max-mobile-width) {
    padding: 0 15px;
    margin-bottom: 70px;
  }

  h2 {
    @include title ($font-34, $height-44, $bold, $trueblack);
    margin: 0;
    margin-bottom: 16px;
    font-family: "cormorantgaramond", "Arial", sans-serif;
    text-align: center;
  }

  .gallery__link {
    line-height: 21px;
    font-weight: 500;
    margin: 0 auto;
    border-bottom: 1px solid $beige;
    text-align: center;
    display: block;
    margin-bottom: 65px;
    width: 74px;
  }
}

.gallery__wrapper {
  display: flex;
  justify-content: space-between;

  @media (max-width: $max-mobile-width) {
    flex-wrap: wrap;
  }
}

.gallery__wrapper-box {
  display: flex;
  flex-wrap: wrap;

  &:nth-child(1n) {
    width: 230px;

    @media (max-width: $max-tablet-width) {
      width: 133px;
    }

    @media (max-width: $max-mobile-width) {
      width: 50%;
    }

    .gallery__picture {
      &:first-child {
        @media (max-width: $max-mobile-width) {
          height: 130px;
          margin-bottom: 15px;
        }

        img {
          @media (max-width: $max-tablet-width) {
            height: 133px;
          }

          @media (max-width: $max-mobile-width) {
            width: 130px;
            height: 130px;
          }
        }
      }

      &:nth-child(2n) {
        margin-top: auto;

        @media (max-width: $max-mobile-width) {
          height: 87px;
          margin-bottom: 15px;
        }

        img {
          @media (max-width: $max-tablet-width) {
            height: 89px;
          }

          @media (max-width: $max-mobile-width) {
            width: 130px;
            height: 87px;
          }
        }
      }
    }
  }

  &:nth-child(2n) {
    width: 400px;

    @media (max-width: $max-tablet-width) {
      width: 231px;
      height: 240px;
    }

    @media (max-width: $max-mobile-width) {
      width: 50%;
    }

    .gallery__picture {
      @media (max-width: $max-tablet-width) {
        height: 240px;
      }

      img {
        width: 400px;
        height: 414px;

        @media (max-width: $max-tablet-width) {
          height: 240px;
        }

        @media (max-width: $max-mobile-width) {
          height: 226px;
          width: 145px;
        }
      }

      @media (max-width: $max-mobile-width) {
        height: 226px;
        margin-bottom: 15px;
      }
    }
  }

  &:nth-child(3n) {
    width: 480px;
    display: flex;

    @media (max-width: $max-tablet-width) {
      width: 278px;
    }

    @media (max-width: $max-mobile-width) {
      width: 100%;
    }

    .gallery__picture {
      &:nth-child(1n) {
        @media (max-width: $max-mobile-width) {
          order: 1;
          height: 115px;
          margin-top: auto;
        }

        img {
          @media (max-width: $max-tablet-width) {
            width: 126px;
            height: 111px;
          }

          @media (max-width: $max-mobile-width) {
            width: 130px;
            height: 115px;
          }
        }
      }

      &:nth-child(2n) {
        order: 2;

        img {
          @media (max-width: $max-tablet-width) {
            width: 126px;
            height: 126px;
          }
        }

        @media (max-width: $max-mobile-width) {
          display: none;
        }
      }

      &:nth-child(3n) {
        margin-left: auto;

        @media (max-width: $max-mobile-width) {
          order: 2;
          margin-left: auto;
          height: 121px;
        }

        img {
          @media (max-width: $max-tablet-width) {
            width: 134px;
            height: 111px;
          }

          @media (max-width: $max-mobile-width) {
            width: 145px;
            height: 121px;
          }
        }
      }

      &:nth-child(4n) {
        order: 4;
        margin-left: auto;
        margin-top: auto;

        img {
          @media (max-width: $max-tablet-width) {
            width: 134px;
            height: 96px;
          }
        }

        @media (max-width: $max-mobile-width) {
          display: none;
        }
      }
    }
  }
}
