.intro {
  background-color: $brown;
  background-image: url("../img/intro-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
  padding-top: 186px;
  padding-bottom: 180px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/intro-desktop@2x.jpg");
    background-size: cover;
  }

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    background-image: url("../img/intro-tablet.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/intro-tablet@2x.jpg");
      background-size: cover;
    }
  }

  @media (max-width: $max-mobile-width) {
    background-image: url("../img/intro-mobile.jpg");
    padding-top: 197px;
    padding-bottom: 188px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/intro-mobile@2x.jpg");
    }
  }

  h1,
  p {
    margin: 0;
    color: $white;
    font-family: "cormorantgaramond", "Arial", sans-serif;
    text-align: center;
  }

  h1 {
    @include title ($font-45, $height-49, $bold, $white);
    letter-spacing: 1.5px;

    @media (max-width: $max-tablet-width) {
      padding-right: 25px;
    }

    @media (max-width: $max-mobile-width) {
      @include title ($font-38, $height-34, $bold, $white);
      padding-right: 5px;
    }
  }

  p {
    @include text ($font-38, $height-49, $regular);
    font-style: italic;

    @media (max-width: $max-tablet-width) {
      padding-right: 40px;
    }

    @media (max-width: $max-mobile-width) {
      @include text ($font-34, $height-44, $regular);
      padding-right: 24px;
    }
  }
}
