.intro {
  background-color: $brown;
  background-image: url("../img/intro-desktop.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
  height: 463px;
  position: relative;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/intro-desktop@2x.jpg");
    background-size: cover;
  }

  @media (min-width: $min-tablet-width) and (max-width: $max-tablet-width) {
    background-image: url("../img/intro-tablet.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/intro-tablet@2x.png");
      background-size: cover;
    }
  }

  @media (max-width: $max-mobile-width) {
    background-image: url("../img/intro-mobile.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/intro-mobile@2x.png");
    }
  }

  h1,
  p {
    margin: 0;
    color: $white;
    text-align: center;
    font-family: "cormorantgaramond", "Arial", sans-serif;
  }

  h1 {
    @include title ($font-45, $height-59, $bold, $white);
    letter-spacing: 3%;
    margin: 0 auto;

    @media (max-width: $max-mobile-width) {
      @include title ($font-38, $height-49, $bold, $white);
    }
  }

  p {
    @include text ($font-38, $height-49, $regular);
    font-style: italic;

    @media (max-width: $max-mobile-width) {
      @include text ($font-34, $height-44, $regular);
    }
  }
}

.intro__overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(86, 64, 52, 0.7);
}

.intro__content {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1366px;
  margin: 0 auto;
}
