.login {
  width: 430px;
  background-image: url("../img/bg-login-desktop.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 430px 138px;
  padding-top: 138px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 110;
  display: block;

  &--show {
    display: block;
  }

  &--nojs {
    display: none;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-login-desktop@2x.png");
    background-size: 442px 138px;
  }

  @media (max-width: $max-tablet-width) {
    background-image: url("../img/bg-login-tablet.png");
    width: 442px;
    display: block;

    &--show {
      display: block;
    }

    &--nojs {
      display: none;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-login-tablet@2x.png");
    }
  }

  @media (max-width: $max-mobile-width) {
    background-image: url("../img/bg-login-mobile.png");
    width: 270px;
    background-size: 270px 84px;
    padding-top: 84px;
    display: block;

    &--show {
      display: block;
    }

    &--nojs {
      display: none;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-login-mobile@2x.png");
    }
  }

  .login__close {
    padding: 0;
    background-color: transparent;
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
  }

  .login__content {
    background-color: $light-beige;
    padding: 60px 45px;
    display: flex;
    flex-wrap: wrap;

    @media (max-width: $max-mobile-width) {
      padding: 45px 15px;
    }

    p {
      display: flex;
      color: $medium-grey;
      justify-content: center;
      text-align: center;
      margin: 20px auto 0;

      @media (max-width: $max-mobile-width) {
        @include text ($font-14, $height-21, $medium);
      }
    }

    .login__signup-link {
      color: $black;
      margin-left: 10px;
    }
  }

  h3 {
    @include title ($font-26, $height-34, $bold, $trueblack);
    text-align: center;
    margin: 0 auto;
    font-family: "cormorantgaramond", "Arial", sans-serif;
  }

  input {
    border-bottom: 1px solid $black;
    width: 100%;
    padding-bottom: 10px;
    margin-top: 30px;

    @media (max-width: $max-mobile-width) {
      @include text ($font-14, $height-21, $medium);
    }
  }

  a {
    display: block;
    text-align: right;
    margin-left: auto;
    color: $medium-grey;

    @media (max-width: $max-mobile-width) {
      @include text ($font-14, $height-21, $medium);
    }
  }

  .login__button {
    width: 100%;
    margin-top: 40px;
  }
}
