.logo {
  width: 66px;
  height: 66px;
  padding: 0;
  padding-top: 10px;

  @media (max-width: $max-tablet-width) {
    width: 10%;
    padding-top: 0;
  }

  @media (max-width: $max-mobile-width) {
    width: 52px;
    height: 52px;

    svg {
      height: 52px;
      width: 52px;
    }
  }

  &--catalog,
  &--card {
    padding-top: 0;
  }
}
