.login {
  width: 430px;
  background-image: url("../img/bg-login-desktop.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 430px 138px;
  background-color: $light-beige;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 400;
  display: block;

  &--show {
    display: block;
  }

  &--nojs {
    display: none;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-login-desktop@2x.png");
    background-size: 442px 138px;
  }

  @media (max-width: $max-tablet-width) {
    background-image: url("../img/bg-login-tablet.png");
    width: 442px;
    display: block;

    &--show {
      display: block;
    }

    &--nojs {
      display: none;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-login-tablet@2x.png");
    }
  }

  @media (max-width: $max-mobile-width) {
    background-image: url("../img/bg-login-mobile.png");
    width: 270px;
    background-size: 270px 84px;
    display: block;

    &--show {
      display: block;
    }

    &--nojs {
      display: none;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-login-mobile@2x.png");
    }
  }

  .login__close {
    padding: 0;
    background-color: transparent;
    //position: absolute;
    //top: 20px;
    //right: 20px;
    border: none;
    cursor: pointer;
    z-index: 450;
    overflow: visible;
    margin-left: auto;

    &::after {
      content: url("../img/icon-cross.svg");
    }

    &:hover,
    &:focus {
      opacity: 0.3;
      outline: 5px auto -webkit-focus-ring-color;
    }
  }

  h3 {
    @include title ($font-34, $height-44, $bold, $trueblack);
    text-align: center;
    margin: 0 auto;
    font-family: "cormorantgaramond", "Arial", sans-serif;
    width: 100%;
    margin-top: 168px;
    margin-right: 25px;
  }

  input {
    border-bottom: 1px solid $black;
    width: 100%;
    padding-bottom: 10px;
    margin-top: 29px;
    color: $trueblack;

    @media (max-width: $max-mobile-width) {
      @include text ($font-14, $height-21, $medium);
    }
  }

  label {
    width: 100%;
  }

  a {
    @include text ($font-12, $height-18, $medium);
    margin-left: auto;
    color: $medium-grey;
    padding-top: 10px;

    @media (max-width: $max-mobile-width) {
      @include text ($font-14, $height-21, $medium);
    }
  }

  .login__button {
    width: 100%;
    margin-top: 42px;
  }
}

.login__content {
  padding: 188px 45px 63px;
  display: flex;
  flex-wrap: wrap;
  padding-top: 20px;
  padding-right: 20px;

  @media (max-width: $max-mobile-width) {
    padding: 109px 15px 45px;
  }

  p {
    @include text ($font-14, $height-21, $medium);
    display: flex;
    color: $medium-grey;
    justify-content: center;
    text-align: center;
    margin: 20px auto 0;
    //margin-right: 25px;
  }

  .login__signup-link {
    @include text ($font-14, $height-21, $medium);
    color: $black;
    margin-left: 5px;
    padding-top: 0;
  }
}

.login__form {
  display: flex;
  flex-wrap: wrap;
  margin-right: 25px;
}
