.menu {
  background-color: $white;
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0 19px;
  align-items: center;
  z-index: 130;
  //justify-content: center;
  position: relative;

  .menu__logo-svg {
    fill: $beige;
  }

  @media (max-width: $max-tablet-width) {
    padding: 55px 45px 50px;
    justify-content: center;
    align-items: center;

    .menu__cart-svg,
    .menu__burger-svg {
      stroke: $trueblack;
      fill: transparent;
    }
  }

  @media (max-width: $max-mobile-width) {
    padding: 38px 15px 33px;
  }
}

.menu--hide {
  @media (max-width: $max-tablet-width) {
    background-color: $white;

    .menu__cart-svg,
    .menu__burger-svg {
      stroke: $trueblack;
      fill: transparent;
    }

    .menu__logo-svg {
      fill: $beige;
    }

    .menu__navigation {
      display: none;
    }

    .menu__search {
      display: none;
    }

    .menu__login {
      display: none;
    }
  }
}

.menu--nojs,
.menu--show {
  @media (max-width: $max-tablet-width) {
    background-color: $beige;
    height: 100vh;

    .menu__cart-svg,
    .menu__burger-svg {
      stroke: $white;
      fill: transparent;
    }

    .menu__logo-svg {
      fill: $white;
    }

    a {
      color: $white;
    }

    .menu__navigation {
      display: flex;
      flex-direction: column;
    }

    .menu__search {
      display: flex;
      margin-bottom: 0;
    }

    .menu__login {
      display: block;
    }
  }
}

.menu__burger-menu {
  display: none;
  background-color: transparent;
  padding: 0;
  border: none;
  margin: 0;

  @media (max-width: $max-tablet-width) {
    display: block;
    margin-right: auto;
  }
}

.menu__login {
  @include text ($font-14, $height-21, $medium);
  background-color: transparent;
  border: none;
  color: $black;
  padding: 0;
  font-family: "poppins", "Arial", sans-serif;
  cursor: pointer;
  margin-left: auto;
  //margin-right: 35px;
  //margin-bottom: 40px;
  width: 100%;
  text-align: right;

  @media (max-width: $max-tablet-width) {
    @include text ($font-18, $height-23, $regular);
    //width: 100%;
    //order: 5;
    text-align: left;
    color: $white;
    //display: none;
    margin-top: 25px;
  }

  @media (max-width: $max-mobile-width) {
    margin-top: 0;
  }
}

.menu__cart-link {
  @include text ($font-14, $height-21, $medium);
  //margin-left: 40px;
  //margin-right: 98px;
  //margin-bottom: 40px;
  width: 100%;
  margin-left: auto;
  text-align: right;

  /*
  &:last-of-type {
    margin-right: 98px;

    @media (max-width: $max-tablet-width) {
      margin-right: 0;
    }
  }*/

  @media (max-width: $max-tablet-width) {
    margin-left: auto;
    //margin-bottom: 10px;
  }

  svg {
    display: none;

    @media (max-width: $max-tablet-width) {
      display: block;
      margin-left: auto;
    }
  }

  span {
    @media (max-width: $max-tablet-width) {
      display: none;
    }
  }
}

.menu__cart-wrapper {
  display: flex;
  flex-wrap: wrap;
  //width: 200px;
  margin-right: 98px;
  //padding-left: 35px;
  //margin-left: auto;
  //min-width: 75px;
  width: 75px;
  margin-left: 0;

  @media (max-width: $max-tablet-width) {
    margin-right: 0;
  }
}

.menu__login-wrapper {
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $max-tablet-width) {
    width: 100%;
    order: 5;
  }
}
