.mobile-menu {
  background-color: $white;
  display: flex;
  flex-wrap: wrap;
  padding: 41px 98px 25px 98px;
  align-items: center;

  @media (max-width: $max-tablet-width) {
    padding: 30px 45px;
    justify-content: space-between;

    .svg {
      stroke: $trueblack;
      fill: transparent;
    }

    &--hide {
      background-color: $white;

      .svg {
        stroke: $trueblack;
        fill: transparent;
      }

      .logo__white {
        display: none;
      }

      .logo__beige {
        display: block;
      }

      .navigation {
        display: none;
      }

      .search-form {
        display: none;
      }

      .mobile-menu__login {
        display: none;
      }
    }

    &--nojs,
    &--show {
      background-color: $beige;

      .svg {
        stroke: $white;
        fill: transparent;
      }

      .logo__white {
        display: block;
      }

      .logo__beige {
        display: none;
      }

      a {
        color: $white;
      }

      .navigation {
        display: flex;
        flex-direction: column;
      }

      .search-form {
        display: flex;
      }

      .mobile-menu__login {
        display: block;
      }
    }
  }

  @media (max-width: $max-mobile-width) {
    padding: 20px 15px;
  }
}

.mobile-menu__burger-menu {
  display: none;
  background-color: transparent;
  outline: none;
  border: none;
  padding: 0;

  @media (max-width: $max-tablet-width) {
    display: block;
  }
}

.mobile-menu__login {
  margin-left: auto;
  background-color: transparent;
  border: none;
  color: $black;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  font-family: "poppins", "Arial", sans-serif;
  cursor: pointer;
  //display: none;
  display: block;

  &--nojs {
    display: block;
  }

  &--show {
    display: block;
  }

  @media (max-width: $max-tablet-width) {
    width: 100%;
    order: 5;
    text-align: left;
    font-size: 18px;
    line-height: 23px;
    color: $white;
    display: none;
  }
}

.mobile-menu__cart-link {
  margin-left: 35px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;

  @media (max-width: $max-tablet-width) {
    margin-left: 0;
  }

  svg {
    display: none;

    @media (max-width: $max-tablet-width) {
      display: block;
    }
  }

  span {
    @media (max-width: $max-tablet-width) {
      display: none;
    }
  }
}
