.mobile-menu {
  background-color: $white;
  display: flex;
  flex-wrap: wrap;
  padding: 41px 98px 20px 98px;
  align-items: center;

  .mobile-menu__logo {
    svg {
      fill: $beige;
    }
  }

  @media (max-width: $max-tablet-width) {
    padding: 30px 45px;
    justify-content: space-between;

    .svg {
      stroke: $trueblack;
      fill: transparent;
    }

    &--hide {
      background-color: $white;

      .svg {
        stroke: $trueblack;
        fill: transparent;
      }

      .mobile-menu__logo {
        svg {
          fill: $beige;
        }
      }

      .navigation {
        display: none;
      }

      .search-form {
        display: none;
      }

      .mobile-menu__login {
        display: none;
      }
    }

    &--nojs,
    &--show {
      background-color: $beige;

      .svg {
        stroke: $white;
        fill: transparent;
      }

      .mobile-menu__logo {
        svg {
          fill: $white;
        }
      }

      a {
        color: $white;
      }

      .navigation {
        display: flex;
        flex-direction: column;
      }

      .search-form {
        display: flex;
      }

      .mobile-menu__login {
        display: block;
      }
    }
  }

  @media (max-width: $max-mobile-width) {
    padding: 20px 15px;
  }
}

.mobile-menu__burger-menu {
  display: none;
  background-color: transparent;
  padding: 0;

  @media (max-width: $max-tablet-width) {
    display: block;
  }
}

.mobile-menu__login {
  @include text ($font-14, $height-21, $medium);
  margin-left: auto;
  background-color: transparent;
  border: none;
  color: $black;
  padding: 0;
  font-family: "poppins", "Arial", sans-serif;
  cursor: pointer;
  //display: none;
  display: block;
  margin-bottom: 60px;

  &--nojs {
    display: block;
  }

  &--show {
    display: block;
  }

  @media (max-width: $max-tablet-width) {
    @include text ($font-18, $height-23, $regular);
    width: 100%;
    order: 5;
    text-align: left;
    color: $white;
    display: none;
  }
}

.mobile-menu__cart-link {
  @include text ($font-14, $height-21, $medium);
  margin-left: 40px;
  margin-bottom: 60px;

  @media (max-width: $max-tablet-width) {
    margin-left: 0;
  }

  svg {
    display: none;

    @media (max-width: $max-tablet-width) {
      display: block;
    }
  }

  span {
    @media (max-width: $max-tablet-width) {
      display: none;
    }
  }
}
