.navigation {
  width: 100%;
  margin-top: 55px;

  @media (max-width: $max-tablet-width) {
    order: 4;
    display: none;
  }
}

.navigation__jewellery,
.navigation__links {
  padding-left: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;

  @media (max-width: $max-tablet-width) {
    justify-content: left;
  }
}

.navigation__jewellery {
  padding-left: 333px;
  padding-right: 333px;
  display: flex;
  justify-content: space-between;

  @media (max-width: $max-tablet-width) {
    display: block;
    padding-left: 0;
    padding-right: 0;
  }

  li {
    @media (max-width: $max-tablet-width) {
      margin-bottom: 40px;
      font-size: 24px;
      line-height: 36px;
      margin-right: 0;
    }
  }

  a {
    font-weight: 500;

    @media (max-width: $max-tablet-width) {
      color: $white;
    }
  }
}

.navigation__links {
  display: none;

  @media (max-width: $max-tablet-width) {
    display: block;
  }

  li {
    @media (max-width: $max-tablet-width) {
      @include text ($font-18, $height-23, $medium);
      margin-bottom: 40px;
    }
  }

  a {
    @media (max-width: $max-tablet-width) {
      color: $white;
    }
  }
}
