.newin {
  padding: 120px 98px 140px;

  &--card {
    padding-bottom: 210px;
  }

  @media (max-width: $max-tablet-width) {
    padding: 130px 45px;
  }

  @media (max-width: $max-mobile-width) {
    padding: 80px 15px;
  }

  h2 {
    @include title ($font-34, $height-44, $bold, $trueblack);
    margin: 0;
    font-family: "cormorantgaramond", "Arial", sans-serif;
    text-align: center;
  }

  a {
    line-height: 21px;
    font-weight: 500;
    margin: 0 auto;
    border-bottom: 1px solid $beige;
    width: 80px;
    text-align: center;
    display: block;
    margin-bottom: 60px;
  }

  p {
    margin: 0;
    margin-top: 22px;
  }
}
