.newin {
  padding: 120px 98px 33px;

  @media (max-width: $max-tablet-width) {
    padding: 10px 45px 15px;
  }

  @media (max-width: $max-mobile-width) {
    padding: 60px 15px 25px;
  }

  h2 {
    @include title ($font-34, $height-44, $bold, $trueblack);
    margin: 0;
    font-family: "cormorantgaramond", "Arial", sans-serif;
    text-align: center;
    margin-bottom: 22px;

    @media (max-width: $max-tablet-width) {
      margin-bottom: 18px;
    }

    @media (max-width: $max-mobile-width) {
      margin-bottom: 9px;
    }
  }

  a {
    line-height: 21px;
    font-weight: 500;
    margin: 0 auto;
    border-bottom: 1px solid $beige;
    width: 80px;
    text-align: center;
    display: block;
    margin-bottom: 60px;

    @media (max-width: $max-tablet-width) {
      margin-bottom: 87px;
    }

    @media (max-width: $max-mobile-width) {
      width: 80px;
      //padding-left: 5px;
      //padding-right: 5px;
      margin-bottom: 10px;
    }
  }

  p {
    margin: 0;
  }
}

.newin--card {
  padding-bottom: 112px;
  padding-top: 60px;

  @media (max-width: $max-tablet-width) {
    padding-bottom: 62px;
    padding-top: 40px;
  }

  @media (max-width: $max-mobile-width) {
    padding-bottom: 53px;
  }

  a {
    @media (max-width: $max-mobile-width) {
      width: 90px;
      margin-bottom: 43px;
    }
  }

  h2 {
    @media (max-width: $max-mobile-width) {
      margin-bottom: 19px;
    }
  }
}
