.page-footer {
  background-color: $trueblack;
  //margin-top: auto;
  //margin-bottom: 0;
  //position: absolute;
  //bottom: 0;
  width: 100%;
  flex: 0 0 auto;
}

.page-footer__content {
  background-color: $trueblack;
  display: flex;
  flex-wrap: wrap;
  padding: 90px 95px 90px;
  align-items: stretch;
  color: $white;
  //position: absolute;
  //bottom: 0;

  @media (max-width: $max-tablet-width) {
    padding: 50px 45px;
  }

  @media (max-width: $max-mobile-width) {
    padding: 50px 15px 62px;
  }

  h2 {
    @include title ($font-34, $height-44, $bold, $white);
    margin: 0;
    font-family: "cormorantgaramond", "Arial", sans-serif;
    letter-spacing: 1px;

    @media (max-width: $max-tablet-width) {
      letter-spacing: 0.8px;
      margin-bottom: 8px;
    }

    @media (max-width: $max-mobile-width) {
      margin-bottom: 15px;
      letter-spacing: 0.8px;
    }
  }

  p {
    line-height: 21px;
    margin: 0;
    color: $medium-grey;

    @media (max-width: $max-tablet-width) {
      margin-bottom: 43px;
    }

    @media (max-width: $max-mobile-width) {
      line-height: 22px;
      margin-bottom: 37px;
    }
  }
}

.page-footer__service,
.page-footer__information,
.page-footer__social-list {
  display: flex;
  flex-direction: column;
  margin-top: 7px;
}

.page-footer__service a,
.page-footer__information a,
.page-footer__social-list a {
  color: $white;
  font-size: 16px;
  line-height: 21px;
  font-weight: 500;
  margin-bottom: 22px;

  @media (max-width: $max-tablet-width) {
    margin-bottom: 21px;
  }
}

.page-footer__service a:last-child,
.page-footer__information a:last-child,
.page-footer__social-list li:last-child {
  margin-bottom: 0;
}

.page-footer__social-list {
  padding: 0;
  list-style: none;
  width: 115px;
  margin: 0;
  margin-top: 7px;

  @media (max-width: $max-mobile-width) {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  li {
    margin-bottom: 22px;

    @media (max-width: $max-tablet-width) {
      margin-bottom: 21px;
    }

    @media (max-width: $max-mobile-width) {
      margin-bottom: 0;
      margin-right: 20px;
    }
  }

  svg {
    margin-right: 15px;

    @media (max-width: $max-mobile-width) {
      transform: scale(1.4);
    }
  }

  a {
    display: flex;
    margin-bottom: 0;
    align-items: center;
  }

  span {
    @media (max-width: $max-mobile-width) {
      display: none;
    }
  }
}

.page-footer__form-container {
  width: 500px;
  margin-right: 95px;
  display: flex;
  flex-wrap: wrap;

  @media (max-width: $max-tablet-width) {
    margin-bottom: 40px;
    width: 560px;
  }

  @media (max-width: $max-mobile-width) {
    margin-right: 0;
  }
}

.page-footer__service {
  margin-right: 72px;

  @media (max-width: $max-tablet-width) {
    margin-right: 87px;
  }

  @media (max-width: $max-mobile-width) {
    margin-bottom: 34px;
  }
}

.page-footer__information {
  margin-right: 107px;

  @media (max-width: $max-tablet-width) {
    margin-right: 89px;
  }

  @media (max-width: $max-mobile-width) {
    margin-bottom: 40px;
  }
}
