.page-header {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    display: block;
    height: 1px;
    width: 100%;
    background-color: $light-grey;
    top: 125px;
  }

  @media (max-width: $max-tablet-width) {
    &::after {
      display: none;
    }
  }

  @media (max-width: $max-mobile-width) {
    &::after {
      display: none;
    }
  }
}
