.popup {
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
  z-index: 110;
  display: block;

  &--show {
    display: block;
  }

  &--nojs {
    display: none;
  }

  @media (max-width: $max-tablet-width) {
    width: 502px;
    display: block;

    &--show {
      display: block;
    }

    &--nojs {
      display: none;
    }
  }

  @media (max-width: $max-mobile-width) {
    width: 290px;
    display: block;

    &--show {
      display: block;
    }

    &--nojs {
      display: none;
    }
  }

  h3 {
    @include title ($font-26, $height-34, $bold, $trueblack);
    margin: 0 auto;
    font-family: "cormorantgaramond", "Arial", sans-serif;
    margin-bottom: 30px;
    text-align: center;
    display: block;
  }

  h4 {
    @include title ($font-18, $height-23, $bold, $trueblack);
    margin: 0;
    font-family: "cormorantgaramond", "Arial", sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    @media (max-width: $max-mobile-width) {
      font-size: 16px;
      line-height: 21px;
    }

    span {
      font-family: "poppins", "Arial", sans-serif;
      font-weight: 400;
    }
  }

  .popup__close {
    margin-left: auto;
    display: block;
    margin-top: 20px;
    margin-right: 20px;
    padding: 0;
    background-color: transparent;
    border: none;

    &:hover {
      opacity: 0.3;
    }
  }

  .popup__cart-items {
    display: flex;
    margin-bottom: 50px;
    width: 100%;
  }

  a {
    margin-right: 20px;

    @media (max-width: $max-tablet-width) {
      img {
        width: 88px;
        height: 79px;
      }
    }

    @media (max-width: $max-mobile-width) {
      margin-right: 15px;

      img {
        width: 70px;
        height: 63px;
      }
    }
  }

  p {
    width: 100%;
    display: flex;
    justify-content: space-between;

    @media (max-width: $max-mobile-width) {
      flex-wrap: wrap;
    }

    span {
      @include text ($font-14, $height-18, $medium);
    }
  }

  .popup__button {
    width: 200px;
    padding-top: 28px;
    padding-bottom: 28px;

    @media (max-width: $max-mobile-width) {
      width: 100%;
      margin-bottom: 20px;
    }

    &:last-child {
      margin-left: auto;
    }
  }
}

.popup__content {
  display: flex;
  flex-wrap: wrap;
  padding: 0 35px 55px;
}

.popup__cart-contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;

  .popup__cart-plus {
    transform: rotate(45deg);
    fill: $medium-grey;
  }
}
