.search-form {
  display: flex;
  align-items: center;
  width: 45%;

  @media (max-width: $max-tablet-width) {
    width: 100%;
    order: 3;
    border-radius: 21px;
    background: rgba(255, 255, 255, 0.15);
    margin-bottom: 55px;
    display: none;
    margin-top: 40px;
  }

  @media (max-width: $max-mobile-width) {
    display: none;
  }

  input {
    color: $black;

    @media (max-width: $max-tablet-width) {
      width: 100%;
      height: 40px;
      background-color: transparent;
      padding: 0;
      color: $black;
    }
  }

  input::placeholder {
    @media (max-width: $max-tablet-width) {
      color: transparent;
    }
  }

  svg {
    margin-right: 15px;

    @media (max-width: $max-tablet-width) {
      margin-left: 12px;
      fill: $white;
    }
  }
}
