.slider__wrapper {
  display: flex;
  margin-top: 50px;
  padding-bottom: 88px;

  @media (max-width: $max-tablet-width) {
    padding-bottom: 110px;
  }

  @media (max-width: $max-mobile-width) {
    margin-top: 33px;
    padding-bottom: 147px;
  }

  &--card {
    @media (max-width: $max-tablet-width) {
      padding-bottom: 110px;
    }

    @media (max-width: $max-mobile-width) {
      padding-bottom: 147px;
    }
  }
}

.slider__container {
  width: 100%;
  position: relative;
}

.slider__item {
  width: 270px;

  @media (max-width: $max-tablet-width) {
    width: 324px;
    height: 340px;
  }

  @media (max-width: $max-mobile-width) {
    width: 130px;
    height: 136px;
  }

  a {
    margin: 0;
    width: 270px;
    border-bottom: none;

    @media (max-width: $max-tablet-width) {
      width: 324px;
    }
  }

  img {
    @media (max-width: $max-tablet-width) {
      width: 324px;
      height: 340px;
    }

    @media (max-width: $max-mobile-width) {
      width: 130px;
      height: 136px;
    }
  }

  figure {
    padding: 0;
    margin: 0;
    width: 270px;

    @media (max-width: $max-tablet-width) {
      width: 324px;
    }

    @media (max-width: $max-mobile-width) {
      width: 130px;
      height: 136px;
    }
  }

  figcaption {
    margin-top: 17px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 16px;

    @media (max-width: $max-mobile-width) {
      margin-top: 12px;
    }
  }

  span {
    margin-top: 5px;
    width: 100%;
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
  }
}

.swiper-slide,
.swiper-slide-active {
  text-align: center;
  font-size: 18px;
  background: $white;
  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 21px;
  font-size: 16px;
  color: $medium-grey;
  opacity: 1;
  background-color: transparent;
  margin: 0;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0;
}

.swiper-pagination-bullet-active {
  color: $black;
  background-color: transparent;
}

.swiper-button-next::after,
.swiper-container-rtl .swiper-button-prev::after,
.swiper-button-prev::after,
.swiper-container-rtl .swiper-button-next::after {
  display: none;
}

.slider__buttons {
  position: absolute;
  width: 100%;
  height: 9px;
  top: 52px;
  z-index: 120;

  @media (max-width: $max-tablet-width) {
    top: 57px;
  }

  @media (max-width: $max-mobile-width) {
    display: none;
  }
}

.slider__button-next,
.slider__button-prev {
  width: 29px;
  height: 9px;
  padding: 0;
  top: 10px;
  right: 0;
  background-color: transparent;
  border: 1px solid transparent;

  svg {
    transform: scale(1.2);

    @media (max-width: $max-tablet-width) {
      transform: scale(1.5);
    }
  }

  &:hover,
  &:active {
    border: none;
    opacity: 0.3;
  }
}

.swiper-button-next {
  right: 5px;

  svg {
    transform: rotate(180deg);

    @media (max-width: $max-tablet-width) {
      transform: rotate(180deg) scale(1.5);
    }
  }
}
